.projects {
	/* background-image: url("https://images.unsplash.com/photo-1547496614-54ff387d650a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; */
	background-image: var(--gradient-13xz);
	font-size: 2rem;
	/* height: 100vh; */
	position: relative;
	z-index: 1;
}

/* .projects::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: -1;
} */

.project {
	z-index: 2;
	color: white;
	position: relative;
}

.project img {
	object-fit: cover;
}

.project p {
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	padding: 2em 0;
	background: rgba(0, 0, 0, 0.6);
	font-size: 2rem;
	font-family: "Poppins";
	width: 100%;
	color: white;
}

.projects_title {
	z-index: 1;
	color: white;
	text-align: center;
	padding: 1em 0;
	font-family: "Poppins";
	color: var(--gray-8);
}

.row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	margin: 0 auto;
	max-width: 300rem;
}

@media (min-width: 768px) {
	.projects_title {
		font-size: 4.5rem;
	}
}
