.projects {
	background: var(--gray-3);
	font-size: 2rem;

	position: relative;
	z-index: 1;
	padding-bottom: 5em;
}

.container {
	width: 95%;
	margin: 0 auto;
}

.project {
	z-index: 2;
	color: white;
	position: relative;
	cursor: pointer;
	/* max-width: 30rem; */
	overflow: hidden;
}

.project img {
	object-fit: cover;
	transition: transform 100ms ease-in;
}

.project img:hover {
	transform: scale(1.1);
}

.project p {
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	padding: 2em 0;
	background: rgba(0, 0, 0, 0.6);
	font-size: 2rem;
	font-family: "Poppins";
	width: 100%;
	color: white;
}

.projects_title {
	z-index: 1;
	color: white;
	text-align: center;
	padding: 1em 0;
	font-family: "Poppins";
	font-size: var(--size-8);
	color: var(--gray-8);
}

.row {
	display: grid;
	gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	margin: 0 auto;
	max-width: 300rem;
}

@media (min-width: 768px) {
	.projects_title {
		font-size: var(--size-10);
	}
}
