.header {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: var(--shadow-4);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	min-height: 8rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;

	animation: var(--animation-slide-in-down) forwards;
}

.container {
	max-width: 180rem;
	margin: 0 auto;
	width: 95%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: "Crimson Pro";
	letter-spacing: 0.35ch;
	font-size: 3.5rem;
	display: flex;
	flex-direction: column;

	position: relative;
	cursor: pointer;
}

.logo:hover {
	animation: var(--animation-pulse) forwards;
	animation-duration: 6s;
}

.logo::after {
	content: "";
	border-bottom: 7px solid black;
	display: block;
	width: 100%;
	position: absolute;
	margin-top: 1em;
	opacity: 0;

	transition: opacity 500ms ease-in;
}

.logo:hover::after {
	/* animation: var(--animation-slide-in-right) forwards; */
	opacity: 0.5;
}

.nav {
	position: fixed;
	top: 0;
	right: -75vw;
	height: 100vh;
	z-index: 2;
	width: 75vw;
	background-color: rgba(0, 0, 0, 0.94);
	color: white;
	padding: 3em;

	transition: transform 0.3s ease-in-out;
}

.nav_list {
	list-style-type: none;
	margin-top: 6em;
}

.nav_list_item {
	font-size: 1.8rem;
	font-weight: 600;
	margin: 0.5em 0;
	cursor: pointer;
}

.nav_list_item:hover {
	opacity: 0.6;
}

.icon_container {
	z-index: 2;
}

.burger_icon:hover {
	cursor: pointer;
}

.close_icon {
	color: white;
}

@media (min-width: 768px) {
	.nav {
		position: static;
		height: auto;
		display: flex;
		justify-content: flex-end;
		background: none;
		padding: 0;
	}

	.nav_list {
		display: flex;
		align-items: center;
		margin: 0;
		font-family: var(--font-mono);
		min-height: 7rem;
	}

	.nav_list_item {
		transition: transform 150ms ease;
		font-size: 1.8rem;
		color: black;
	}

	.nav_list_item:hover {
		opacity: 1;
	}

	.nav_list_item::after {
		content: "";
		display: block;
		border-bottom: 1px solid black;
		opacity: 0;
		transition: opacity 150ms ease-in-out;
	}

	.nav_list_item:hover::after {
		content: "";
		display: block;
		border-bottom: 0.5px solid black;
		opacity: 1;
	}

	.nav_list_item + .nav_list_item {
		margin-left: 1em;
	}

	.icon_container {
		display: none;
	}
}
