.header {
	background-color: pink;
	min-height: 6rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container {
	max-width: 180rem;
	margin: 0 auto;
	width: 95%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: "Crimson Pro";
	letter-spacing: 0.5ch;
	font-size: 3rem;
	display: flex;
	flex-direction: column;

	position: relative;
	cursor: pointer;
}

.logo:hover {
	animation: var(--animation-pulse) forwards;
	animation-duration: 6s;
}

.logo::after {
	content: "";
	border-bottom: 7px solid black;
	display: block;
	width: 100%;
	position: absolute;
	margin-top: 1em;
	opacity: 0;

	transition: opacity 500ms ease-in;
}

.logo:hover::after {
	animation: var(--animation-slide-in-right) forwards;
	opacity: 0.5;
}

.nav {
	position: fixed;
	top: 0;
	right: -75vw;
	height: 100vh;
	z-index: 2;
	width: 75vw;
	background-color: rgba(0, 0, 0, 0.94);
	color: white;
	padding: 3em;

	transition: transform 0.4s ease-in-out;
}

.nav_list {
	list-style-type: none;
	margin-top: 6em;
}

.nav_list_item {
	font-size: 2.5rem;
	font-weight: 600;
	margin: 0.5em 0;
}

.icon_container {
	z-index: 2;
}

.burger_icon:hover {
	cursor: pointer;
}

@media (min-width: 768px) {
	.nav {
		position: static;
		height: auto;
		display: flex;
		justify-content: flex-end;
		background: none;
		padding: 0;
	}

	.nav_list {
		display: flex;
		margin: 0;
		font-family: var(--font-mono);
	}

	.nav_list_item {
		transition: transform 150ms ease;
		font-size: 1.8rem;
		color: black;
	}

	.nav_list_item + .nav_list_item {
		margin-left: 1em;
	}

	.icon_container {
		display: none;
	}
}
