.contacts {
	min-height: 100vh;
	background-image: url("https://images.unsplash.com/photo-1547496614-54ff387d650a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;
}

.contacts::after {
	content: "";
	min-height: 100vh;
	width: 100%;
	display: block;
	background: rgba(126, 122, 122, 0.911);
	backdrop-filter: blur(4px);

	position: absolute;
	top: 0;
	left: 0;
}

.contacts_title {
	font-size: 4.5rem;
	color: var(--gray-8);
	font-family: "Poppins";
	text-align: center;
	z-index: -1;
	padding: 1em 0;
}
